Laden sie zunächst den IMDB-Top-250-Datensatz mit der Pandas-Bibliothek, den sie als CSV-Datei auf Backstage finden.

In [8]:
import pandas as pd

file_path: str = "imdb_top_250.csv"
data_frame: pd.DataFrame = pd.read_csv(file_path)
print(data_frame)

     Unnamed: 0                     Title  Year  \
0             1  The Shawshank Redemption  1994
1             2             The Godfather  1972
2             3    The Godfather: Part II  1974
3             4           The Dark Knight  2008
4             5              12 Angry Men  1957
..          ...                       ...   ...
245         246   Guardians of the Galaxy  2014
246         247       Fanny och Alexander  1982
247         248           Tsubaki Sanjûrô  1962
248         249        Gangs of Wasseypur  2012
249         250                 Drishyam   2015

                                          Genre  Duration  \
0                                         Drama  2h 22min
1                                 Drama | Crime  2h 55min
2                                 Drama | Crime  3h 22min
3             Drama | Action | Thriller | Crime  2h 32min
4                                         Drama  1h 36min
..                                          ...       ...
245                 Adventure | Comedy | Action   2h 1min
246                                       Drama   3h 8min
247           Drama | Action | Thriller | Crime  1h 36min
248  Comedy | Thriller | Drama | Action | Crime  5h 21min
249                    Drama | Thriller | Crime  2h 43min

                             Origin              Director  IMDB rating  \
0                               USA        Frank Darabont          9.3
1                               USA  Francis Ford Coppola          9.2
2                               USA  Francis Ford Coppola          9.0
3                          USA | UK     Christopher Nolan          9.0
4                               USA          Sidney Lumet          8.9
..                              ...                   ...          ...
245                             USA            James Gunn          8.1
246  West Germany | Sweden | France        Ingmar Bergman          8.1
247                           Japan        Akira Kurosawa          8.1
248                           India        Anurag Kashyap          8.2
249                           India       Nishikant Kamat          8.3

     Rating count                             IMDB link
0         2030817  https://www.imdb.com/title/tt0111161
1         1392322  https://www.imdb.com/title/tt0068646
2          964841  https://www.imdb.com/title/tt0071562
3         1998623  https://www.imdb.com/title/tt0468569
4          571145  https://www.imdb.com/title/tt0050083
..            ...                                   ...
245        894940  https://www.imdb.com/title/tt2015381
246         50821  https://www.imdb.com/title/tt0083922
247         26345  https://www.imdb.com/title/tt0056443
248         66466  https://www.imdb.com/title/tt1954470
249         51251  https://www.imdb.com/title/tt4430212

[250 rows x 10 columns]

Untersuchen sie den resultierenden `DataFrame` mittels `.shape`, `.info()` und `.describe()`, welche Informationen sehen sie?

In [16]:
print(f"Shape: {data_frame.shape}")
print(f"Info:")
print(data_frame.info())
print(f"describe:")
print(data_frame.describe())

Shape: (250, 10)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    250 non-null    int64
 1   Title         250 non-null    object
 2   Year          250 non-null    int64
 3   Genre         250 non-null    object
 4   Duration      250 non-null    object
 5   Origin        250 non-null    object
 6   Director      250 non-null    object
 7   IMDB rating   250 non-null    float64
 8   Rating count  250 non-null    int64
 9   IMDB link     250 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 19.7+ KB
None
describe:
       Unnamed: 0         Year  IMDB rating  Rating count
count  250.000000   250.000000   250.000000  2.500000e+02
mean   125.500000  1985.284000     8.302400  4.777687e+05
std     72.312977    24.789138     0.228831  4.032529e+05
min      1.000000  1921.000000     8.000000  2.634500e+04
25%     63.250000  1966.250000     8.100000  1.389868e+05
50%    125.500000  1993.000000     8.200000  3.477585e+05
75%    187.750000  2005.000000     8.400000  7.074485e+05
max    250.000000  2018.000000     9.300000  2.030817e+06

Lassen sie sich die ersten und die letzten zehn Einträge des Datensatzes anzeigen.

In [21]:
print("Ersten Zehn:")
data_frame.head(10)

Ersten Zehn:

,Unnamed: 0,Title,Year,Genre,Duration,Origin,Director,IMDB rating,Rating count,IMDB link
0,1,The Shawshank Redemption,1994,Drama,2h 22min,USA,Frank Darabont,9.3,2030817,https://www.imdb.com/title/tt0111161
1,2,The Godfather,1972,Drama | Crime,2h 55min,USA,Francis Ford Coppola,9.2,1392322,https://www.imdb.com/title/tt0068646
2,3,The Godfather: Part II,1974,Drama | Crime,3h 22min,USA,Francis Ford Coppola,9.0,964841,https://www.imdb.com/title/tt0071562
3,4,The Dark Knight,2008,Drama | Action | Thriller | Crime,2h 32min,USA | UK,Christopher Nolan,9.0,1998623,https://www.imdb.com/title/tt0468569
4,5,12 Angry Men,1957,Drama,1h 36min,USA,Sidney Lumet,8.9,571145,https://www.imdb.com/title/tt0050083
5,6,Schindler's List,1993,Drama | Biography | History,3h 15min,USA,Steven Spielberg,8.9,1050056,https://www.imdb.com/title/tt0108052
6,7,The Lord of the Rings: The Return of the King,2003,Drama | Adventure | Fantasy | Action,3h 21min,USA | New Zealand,Peter Jackson,8.9,1445888,https://www.imdb.com/title/tt0167260
7,8,Pulp Fiction,1994,Drama | Crime,2h 34min,USA,Quentin Tarantino,8.9,1585797,https://www.imdb.com/title/tt0110912
8,9,"Il buono, il brutto, il cattivo",1966,Western,2h 41min,West Germany | Italy | Spain,Sergio Leone,8.9,602707,https://www.imdb.com/title/tt0060196
9,10,Fight Club,1999,Drama,2h 19min,USA | Germany,David Fincher,8.8,1625021,https://www.imdb.com/title/tt0137523

In [22]:
print("Letzten Zehn:")
data_frame.tail(10)

Letzten Zehn:

,Unnamed: 0,Title,Year,Genre,Duration,Origin,Director,IMDB rating,Rating count,IMDB link
240,241,The Best Years of Our Lives,1946,War | Drama | Romance,2h 50min,USA,William Wyler,8.1,51979,https://www.imdb.com/title/tt0036868
241,242,Tenkû no shiro Rapyuta,1986,Drama | Adventure | Fantasy | Animation,2h 5min,Japan,Hayao Miyazaki,8.1,123229,https://www.imdb.com/title/tt0092067
242,243,Pirates of the Caribbean: The Curse of the Bla...,2003,Adventure | Fantasy | Action,2h 23min,USA,Gore Verbinski,8.0,943984,https://www.imdb.com/title/tt0325980
243,244,Blade Runner 2049,2017,Drama | Thriller | Mystery,2h 44min,Canada | Hungary | USA | UK,Denis Villeneuve,8.0,351618,https://www.imdb.com/title/tt1856101
244,245,La La Land,2016,Comedy | Romance | Music | Drama | Musical,2h 8min,Hong Kong | USA,Damien Chazelle,8.0,409442,https://www.imdb.com/title/tt3783958
245,246,Guardians of the Galaxy,2014,Adventure | Comedy | Action,2h 1min,USA,James Gunn,8.1,894940,https://www.imdb.com/title/tt2015381
246,247,Fanny och Alexander,1982,Drama,3h 8min,West Germany | Sweden | France,Ingmar Bergman,8.1,50821,https://www.imdb.com/title/tt0083922
247,248,Tsubaki Sanjûrô,1962,Drama | Action | Thriller | Crime,1h 36min,Japan,Akira Kurosawa,8.1,26345,https://www.imdb.com/title/tt0056443
248,249,Gangs of Wasseypur,2012,Comedy | Thriller | Drama | Action | Crime,5h 21min,India,Anurag Kashyap,8.2,66466,https://www.imdb.com/title/tt1954470
249,250,Drishyam,2015,Drama | Thriller | Crime,2h 43min,India,Nishikant Kamat,8.3,51251,https://www.imdb.com/title/tt4430212

Lassen sie sich die ersten fünf Filme anzeigen und beschränken sie sich dabei auf die Spalten `Title`, `Duration` und `Rating count`.

In [29]:
data_frame[['Title', 'Duration', 'Rating count']].head(5)

                      Title  Duration  Rating count
0  The Shawshank Redemption  2h 22min       2030817
1             The Godfather  2h 55min       1392322
2    The Godfather: Part II  3h 22min        964841
3           The Dark Knight  2h 32min       1998623
4              12 Angry Men  1h 36min        571145

Lassen sie sich die ersten fünf Filme mit dem Genre `Action` anzeigen, beschränken sie sich dabei auf die Spalten `Title` und `Genre`.

In [43]:
data_frame[['Title', 'Genre']].where(data_frame.Genre.str.contains('Action')).dropna()

,Title,Genre
3,The Dark Knight,Drama | Action | Thriller | Crime
6,The Lord of the Rings: The Return of the King,Drama | Adventure | Fantasy | Action
12,Star Wars: Episode V - The Empire Strikes Back,Adventure | Fantasy | Action
13,Inception,Adventure | Action | Thriller
17,The Matrix,Action
21,Star Wars,Adventure | Fantasy | Action
29,Spider-Man: Into the Spider-Verse,Comedy | Adventure | Animation | Family | Action
41,Terminator 2: Judgment Day,Action
45,Raiders of the Lost Ark,Adventure | Action
47,Gladiator,Drama | Adventure | Action
55,Avengers: Infinity War,Adventure | Fantasy | Action
66,The Dark Knight Rises,Action | Thriller
67,Oldeuboi,Thriller | Drama | Action | Mystery
68,Aliens,Adventure | Action | Thriller
77,Star Wars: Episode VI - Return of the Jedi,Adventure | Fantasy | Action
82,Dangal,Drama | Biography | Action | Sport
111,Indiana Jones and the Last Crusade,Adventure | Fantasy | Action
115,Batman Begins,Adventure | Action | Thriller
116,Yôjinbô,Drama | Action | Thriller
120,Die Hard,Action | Thriller
135,Ran,Drama | Action
151,V for Vendetta,Drama | Action | Thriller
156,The General,Comedy | Adventure | Drama | Western | War | A...
171,Sherlock Jr.,Romance | Comedy | Action
172,Kill Bill: Vol. 1,Action | Thriller | Crime
179,How to Train Your Dragon,Comedy | Adventure | Animation | Family | Fant...
195,Salinui chueok,Thriller | Mystery | Drama | Action | Crime
201,Rush,Drama | Biography | Action | Sport
205,Mad Max: Fury Road,Adventure | Action | Thriller
210,Logan,Drama | Action | Thriller
225,The Terminator,Action
242,Pirates of the Caribbean: The Curse of the Bla...,Adventure | Fantasy | Action
245,Guardians of the Galaxy,Adventure | Comedy | Action
247,Tsubaki Sanjûrô,Drama | Action | Thriller | Crime
248,Gangs of Wasseypur,Comedy | Thriller | Drama | Action | Crime

Sortieren sie die Filme nach ihrem Merkmal `IMDB rating` und lassen sie sich die Top-10-Filme mit Namen und Bewertung anzeigen.

In [47]:
data_frame.sort_values(by='IMDB rating', ascending=False).head(10)[['Title', 'IMDB rating']]

                                            Title  IMDB rating
0                        The Shawshank Redemption          9.3
1                                   The Godfather          9.2
2                          The Godfather: Part II          9.0
3                                 The Dark Knight          9.0
4                                    12 Angry Men          8.9
5                                Schindler's List          8.9
6   The Lord of the Rings: The Return of the King          8.9
7                                    Pulp Fiction          8.9
8                 Il buono, il brutto, il cattivo          8.9
11                                   Forrest Gump          8.8

Gruppieren sie die Filme nach ihrem Regisseur und lassen sie sich die Top-5-Regisseure bezüglich der Anzahl an Filmen anzeigen.

In [53]:
director_counts = data_frame.groupby('Director').size()
director_counts.sort_values(ascending=False).head(5)

Director
Martin Scorsese      7
Christopher Nolan    7
Steven Spielberg     7
Stanley Kubrick      7
Akira Kurosawa       6
dtype: int64

Visualisieren sie einen Teil der Daten mit `pandas.plotting.scatter_matrix` und `groupby.DataFrameGroupBy.hist`.

In [56]:
pd.plotting.scatter_matrix(data_frame['Genre'])
data_frame.groupby('Director').size()['Title'].hist(bins=7)
#klappt noch nicht

AttributeError: 'Series' object has no attribute 'columns'